asgiref==3.4.1
autopep8==1.5.7
dj-database-url==0.5.0
Django==3.2.6
gunicorn==20.1.0
pycodestyle==2.7.0
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
Unipath==1.1
whitenoise==5.3.0
Pillow==10.3.0
tuya-connector-python==0.1.2
django-crontab==0.7.1
python-dateutil
psycopg2-binary
reportlab==4.2.5