{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% endblock title %}

{% block branding %}{% endblock branding %}

{% block header_content %}{% endblock header_content %}

{% block content %}
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/assets/demo/demo.css" rel="stylesheet" />

<div class="col-lg-6 col-md-12" style="text-align:center; padding-right:2px; padding-left:2px">
    <div class="card">
      <div style="font-weight: bold; color:#000080;">
        <h4 class="card-title"  style="font-weight:bold; color:#000080; padding-top: 10px;">PHIẾU THANH TOÁN TIỀN PHÒNG</h4>
        <p style="margin-bottom: 0;">{{invoice.invoice_date|date:"d/m/Y"}} - {{end_date|date:"d/m/Y"}} <br/> 
        Phòng: {{contract.room.room_number}} </p>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <theadstyle="color:black; padding: 4px 5px;" >
            <th style="padding: 4px 5px;">#</th>
            <th style="padding: 4px 5px;">Dịch vụ</th>
            <th style="padding: 4px 5px;">SL</th>
            <th style="padding: 4px 5px;">Đơn giá</th>
            <th style="padding: 4px 5px;">TT</th>
          </thead>
          <tbody style="color:black; padding: 4px 5px;">
            {% for service in services %}
              <tr>
                <td style="padding: 4px 5px;">{{service.0}}</td>
                <td style="text-align:left; padding: 4px 5px;">{{service.1}}</td>
                <td style="padding: 4px 5px;">{{service.2}}</td>
                <td style="text-align:right;padding: 4px 5px;">{{service.3}}</td>
                <td style="text-align:right;padding: 4px 5px;">{{service.4}}</td>
              </tr>          
            {% endfor %}

            {% if invoice.previous_debt > 0 %}
              <tr>
                <td></td>
                <td style="text-align:left; padding: 4px 5px;">Nợ kỳ trước</td>
                <td></td>
                <td></td>
                <td style="text-align:right;padding: 4px 5px;">{{invoice.previous_debt}}</td>
              </tr>          
            {% endif %}
            <tr>
                <td></td>
                <td style="font-weight: bold;;padding: 8px 5px;">TỔNG</td>
                <td></td>
                <td></td>
                <td style="text-align:right; font-weight: bold;;padding: 4px 5px;">{{invoice.total_amount}}</td>
            </tr>   
          </tbody>
        </table>
        <div style="font-weight: bold;">Vui lòng thanh toán trong vòng 5 ngày.</div>
        <div style="font-weight: bold;">Mọi thắc mắc xin liên hệ sđt: 0344.350.998.</div>
        <img class="img" src="/static/assets/img/acb.png" style="width:200px;height:230px;" />
      </div>
    </div>
  </div>


{% endblock content %}